absl-py==0.7.0
altgraph==0.16.1
asgiref==3.2.7
asn1crypto==0.24.0
astor==0.7.1
astroid==2.2.5
autopep8==1.4.3
Babel==2.6.0
beautifulsoup4==4.7.1
boost==0.1
boto3==1.13.11
botocore==1.16.11
bs4==0.0.1
cachetools==3.1.0
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
Click==7.0
cmake==3.13.3
colorama==0.4.1
coloredlogs==10.0
cryptography==2.6.1
cycler==0.10.0
debtcollector==1.21.0
decorator==4.4.0
Django==3.0.5
django-crispy-forms==1.9.0
django-filter==2.2.0
django-storages==1.9.1
dlib==19.17.0
docutils==0.15.2
enum34==1.1.6
face-recognition==1.2.3
face-recognition-models==0.3.0
fpdf==1.7.2
future==0.17.1
gast==0.2.2
get==2019.4.13
google-api-core==1.9.0
google-auth==1.6.3
google-cloud==0.34.0
google-cloud-speech==1.0.0
googleapis-common-protos==1.5.9
grpcio==1.18.0
gTTS==2.0.3
gTTS-token==1.1.3
gunicorn==20.0.4
h5py==2.9.0
http-ece==1.1.0
humanfriendly==4.18
idna==2.8
image==1.5.27
image-utils==0.1.6
imageio==2.5.0
imatplotlib==0.0.1
imgutils==0.1.2
imutils==0.5.2
iso8601==0.1.12
isort==4.3.15
jmespath==0.10.0
Keras==2.2.4
Keras-Applications==1.0.6
keras-model-specs==1.0.0
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
Markdown==3.0.1
Mastodon.py==1.3.1
matplotlib==3.0.3
mccabe==0.6.1
mysql-client==0.0.1
mysql-connector==2.2.9
netaddr==0.7.19
netifaces==0.10.9
networkx==2.2
numpy==1.16.2
opencv-contrib-python==4.0.0.21
opencv-python==4.0.0.21
oslo.i18n==3.23.1
oslo.utils==3.40.3
pandas==0.24.1
pbr==5.1.3
pefile==2019.4.18
Pillow==5.4.1
playsound==1.2.2
post==2019.4.13
prettytable==0.7.2
progressbar==2.5
promise==2.2.1
protobuf==3.6.1
psycopg2==2.8.5
public==2019.4.13
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycodestyle==2.5.0
pycparser==2.19
pyglet==1.3.2
PyInstaller==3.5
pylint==2.3.1
PyMySQL==0.9.3
pyparsing==2.4.0
pypiwin32==223
pyreadline==2.1
pyspeech==0.0.0
python-cephlibs==0.94.5.post1
python-dateutil==2.8.0
pytube==9.5.0
pytz==2018.9
PyWavelets==1.0.2
pywin32==224
pywin32-ctypes==0.2.0
PyYAML==5.1.1
query-string==2019.4.13
request==2019.4.13
requests==2.21.0
rsa==4.0
s3transfer==0.3.3
scikit-image==0.15.0
scikit-learn==0.20.3
scipy==1.2.1
six==1.12.0
soupsieve==1.8
speech==0.5.2
SpeechRecognition==3.8.1
SQLAlchemy==1.3.2
sqlparse==0.3.0
stevedore==1.32.0
tensorboard==1.12.2
tensorflow==1.12.0
tensorflow-cpu==0.0.0
tensorflow-datasets==1.0.1
tensorflow-metadata==0.13.0
tensorflow-utils==0.1.0
termcolor==1.1.0
tqdm==4.31.1
typed-ast==1.3.1
UNKNOWN==0.0.0
urllib3==1.25.9
virtualenv==16.6.2
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
Werkzeug==0.14.1
whitenoise==5.0.1
wrapt==1.11.1
